:root {
    --almond-silk: #CEB5A7;
    --frosted-mint: #EAF7CF;
    --rosy-granite: #92828D;
    --lilac-ash: #ADAABF;
    --shadow-grey: #2C262A;
    font-family: 'SN Pro', sans-serif;
}

@font-face {
    font-family: 'SN Pro';
    src: url("./fonts/SNPro-VariableFont_wght.ttf") format('tff');
    font-weight: normal;
    font-style: normal;
}

body {
    height: 100vh;
    background-color: var(--almond-silk);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}


img#logo {
    left: 20px;
    width: 60px;
    position: absolute;
}

nav {
    display: flex;
    justify-content: center;
}

nav button {
    margin: 20px;
    padding: 10px 20px;
    background-color: var(--rosy-granite);
    color: var(--shadow-grey);
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

h1#main-heading {
    color: var(--shadow-grey);
    font-size: 50px;
}

#content {
    margin: auto 200px;
    padding: 25px 50px;
    border-radius: 50px;
    background-color: var(--rosy-granite);
    display: flex;
    flex-direction: column;
    align-items: center;
}
   
#content p {
    margin: 40px;
    text-align: center;
    font-size: 22px;
}




